* { box-sizing: border-box; }

.keyspeaker{
    padding: 2rem;
    width: 100%;
    /* background: linear-gradient(90deg, #414850, #131720); */
background-color: #121212;
}
.keynote-title{
    text-align: center;
    font-size: 3rem;
    color: white;
}
.card-flex{
    max-width: 85%;
    margin-top: 1rem ;
    margin-inline: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    /* overflow: hidden; */

}
.card{
    background: #1D1D1D;
    /* background-color: rgba(240, 248, 255, 0.765); */
    display: flex;
    flex:1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: 20px;
    padding: 1rem 1.5rem;
    box-sizing: border-box;
    box-shadow: 5px  5px 10px rgba(0,0,0);
    margin: 1rem 0;
    color:white;
}
.card:hover{
    transform: scale(1.1);
}
h2{
    margin: 0;
}
.name{
    width: 100%;
    font-size: 1.2rem;
    margin: 0;
}
.desig, .company {
    text-align: center;
    padding: 0;
}
.image{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

@media screen and (max-width:768px){
    .card{
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .card-flex{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .keyspeaker{
        padding: 2rem 0;
        margin-inline: auto ;
    }
    .keynote-title{
        font-size: 2rem;
    }
}